<html>
<div class="container">
	<div class="searchPanel" id="searchPanel">
        <h1>Welcome {{username}}!</h1>
        <input type="text" autocomplete="off" placeholder="Search movies..." name="movieTitle" id="movieTitle" ng-model="movieTitle" ng-keyup="complete(movieTitle)" class="form-control" />  
            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">  
                    <li class="list-group-item" ng-repeat="movieTitle in filterMovie" ng-click="redirectToMovie(movieTitle)"><a style="color:black" href="">{{movieTitle}}</a></li>  
            </ul>
    </div>

    <div class="towatchPanel" id="toWatchPanel">
        <h1>Your personal ToWatchList</h1>
        <div>

            <div ng-repeat="movie in watchlist|limitTo:5" ng-click="redirectToMovie(movie.title)" style="display: inline-block" >
                <div style="text-align: center">
                        <span><a href=""><img class="thumbnail" src = "/images/{{movie.image}}.jpg" height="250" width="170"></a></span>
                        <p>{{movie.title}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="inspirationPanel" id="inspirationPanel">
        <h1>Lacking inspiration? Top rated movies last month</h1>
        <div>
            <div ng-repeat="movie in topratedlist" ng-click="redirectToMovie(movie.title)" style="display: inline-block">
                <div style="text-align: center">
                    <span><a href=""><img class="thumbnail" src = "/images/{{movie.image}}.jpg" height="250" width="170"></a></span>
                    <p>{{movie.title}} {{movie.avgRating | number: 1}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>


