<html>

<div class="text-box col-md-4 col-md-offset-4" style="text-align: center">
	<h1>Login / Create account</h1>
	
	<form>
		<input class="form-control" type="text" ng-model="username" id="usernameInputField" autocomplete="off" placeholder="Username" required autofocus>
		<input class="form-control" type="password" ng-model="password" id="passwordInputField" placeholder="Password" require autofocus>
		<button type="button" class="btn" ng-click="login()" id="loginOKBtn" >Login</button>
		<button type="button" class="btn" ng-click="createAccount()" id="createAccountBtn" >Create Account</button>
	</form>


	<p id="messageBox"></p>
	

</div>



</html>

